.chartCard {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chartCardHeader {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin-bottom: 1.5rem;
  width: 90%;
}

.chartCardTitle {
  flex: 1;
}

.title {
  font-size: 1.125rem;
  font-weight: 600;
  color: #10263a;
  margin: 0 0 0.25rem 0;
}

.subtitle {
  font-size: 0.875rem;
  width: 90%;
  color: #4f7a83;
  margin: 0;
}

.chartCardActions {
  display: flex;
  gap: 0.5rem;
  width: 40%;
}

.chartCardContent {
  flex: 1;
  position: relative;
  min-height: 200px;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 100%;
  color: #4f7a83;
}

.spinner {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  border: 6px solid rgb(255 255 255 / 0.12);
  border-top: 6px solid #31c7b7;

  transform: scale(8); /* makes it visually thicker */
  animation: spin 0.7s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
